<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>NgModel</h1>
  <p>Nombre {{ person.name }}</p>
  <input type="text" [(ngModel)]="person.name">
  <hr />
  <h1>Events</h1>
  <button [disabled]="btnDisabled">Send</button>
  <button (click)="toggleButton()">Toogle Button</button>
  <p>Age {{person.age}}</p>
  <button (click)="incrementAge()">Age ++</button>
  <div class="box" (scroll)="onScroll($event)">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut possimus optio unde impedit sequi iste eligendi
      consectetur laboriosam atque sint expedita inventore quis, laudantium deserunt. Rem quia ipsam excepturi rerum!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut possimus optio unde impedit sequi iste eligendi
      consectetur laboriosam atque sint expedita inventore quis, laudantium deserunt. Rem quia ipsam excepturi rerum!
    </p>
  </div>
  <h3>Nombre: {{person.name}}</h3>
  <input type="text" [value]="person.name" (keyup)="changeName($event)">
  <hr />
  <h1>Properties</h1>
  <button [disabled]="btnDisabled">Send</button>
  <input type="text" [value]="person.name">
  <progress [value]="person.age" max="100"></progress>
  <img [src]="person.avatar" alt="img">
  <hr />
  <h1>Hola mundo</h1>
  <h2>{{' Hola mundo'.repeat(5) }}</h2>
  <p> 3 + 3 = {{ 3 + 3 }} </p>
  <h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
</body>

</html>
